html {
    background-color: #232B2B;
}

header {
    position: static;
    height: 270px;
    align-content: center;
    background-color: #232B2B;
}

#logo {
    padding-top:8px; 
    display: block;
    margin: 0 auto;
    padding-bottom: 8px;
}

#navigation {
    align-content: center;
    background-color: #232B2B;
}


#title p {
    background-color: #232B2B;
    color: #DC3D24;
	font-size: 70px;
	text-align: center;
	text-transform: uppercase;
	text-shadow: #87CEFA 3px 3px 5px;
	
}



/*Colors:
black - #232B2B
blue - #87CEFA
orange - #DC3D24
*/
